* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root {
  filter: invert(1) hue-rotate(180deg);
} */
.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

body {
  /* background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn; */
  background: #ebf5fc;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  color: #1b1c34;
  display: flex;
  align-items: center;
}

/* .container {
  max-width: 1320px;
  padding: 0 2rem;
  margin: 0 auto;
  height: 100%;
} */

.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: fit-content(40%);
  /* gap: 2%; */
  margin: 2% 0;
}

.card {
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(171.38deg, #f9fbfc 3.36%, #e2eaf5 95.69%);
  box-shadow: 0px 0px 20px rgba(227, 235, 246, 0.3);
  border-radius: 18px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 30px;
  text-align: center;
}

.container-01 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  background: #ebf5fc;
}

.container-n {
  position: relative;
  margin-top: 5px;
  width: 95%;
  overflow: hidden;
  padding: 20px;
  z-index: 11;
  /* color: #32a3b1; */
  /* font-size: 25px; */
  font-weight: 700;
  text-align: center;
  border-radius: 18px;
  margin: 28px;
  /* padding: 40px 30px; */
  font-size: 25px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
}
.container-g {
  position: relative;
  width: 80%;
  text-align: center;
  z-index: 11;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 5px 8px;
  font-size: 25px;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
}

.card_img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.card_body {
  padding: auto 5px auto 5px;
}

.card_title {
  font-weight: 850;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.103),
    0px -5px 35px rgba(255, 255, 255, 0.123);
  text-transform: capitalize;
  color: #25262c;
  font-size: 32px;
  padding-top: 1px;
  padding-bottom: 8px;
}

.designation {
  font-weight: 700;
  font-size: 22px;
  color: #959eaf;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.call_btn {
  margin: 140px 0 40px;
  position: relative;
  display: inline-block;
  z-index: 99;
}

.btn_icon i {
  position: relative;
  font-size: 22px;
  color: #1f83fe;
  transition: all 0.3s ease-in-out;
}

.btn_icon i:after {
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  background-color: white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  left: -17px;
  top: -18px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.circle {
  position: absolute;
  background: radial-gradient(
    45.14% 45.14% at 50% 50%,
    #bfdaff 0%,
    #bdd9fd 26.59%,
    #d4e5ff 46.99%,
    #cce0ff 71.36%,
    #a7ccff 100%
  );
  box-shadow: 0px 4px 107px rgba(179, 211, 255, 0.5);
  border-radius: 50%;
  left: -46px;
  top: -46px;
  height: 110px;
  width: 110px;
  display: block;
  z-index: -2;
  transition: all 0.3s ease-in-out;
}

.btn_icon:hover i {
  color: #0050b1;
}

.btn_icon:hover .circle {
  box-shadow: 0px 4px 97px rgba(44, 134, 255, 0.8);
}

@media only screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 2%;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    padding: 0 1rem;
  }

  .card {
    padding: 12px;
  }

  .card_title {
    font-size: 26px;
    padding-top: 1px;
    padding-bottom: 8px;
  }

  .designation {
    font-size: 18px;
  }

  .call_btn {
    margin: 100px 0 25px;
  }
}

.social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #8795a4;
}
.social a + a {
  margin-left: 8px;
}
.social a:hover {
  background: #41a1fd;
}
.social a .team-icon {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.section-title {
  padding-bottom: 40px;
  padding-top: 20px;
}
.main-team-subheading {
  font-size: 16px;
  font-weight: 500;
  padding: 1rem;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #424242;
}

.main-team-heading {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  color: #556270;
}
.main-team-subheading1 {
  border-top: 0.1rem solid rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  padding: 1rem;
  line-height: 1px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #838383;
}

/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.quote {
  /* margin-top: 2rem;
  margin-bottom: 1rem; */
  /* text-align: center; */
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

button {
  margin: 2em auto;

  display: block;
  -webkit-appearance: none;
  border: 6px solid rgba(255, 255, 255, 0.45);
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #fff;
}
button:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}
button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}
.button1 {
  background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
}
.button1:before {
  background-image: linear-gradient(90deg, #7b81ec, transparent);
}
.button1:after {
  background-image: linear-gradient(90deg, transparent, #3bd1d3);
}

.btn,
.btn2 {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  /* text-transform: uppercase; */
  color: #fff;
  border-radius: 6px;
  margin: 30px;
  padding: 0.5em 2em;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
  animation: anime 16s linear infinite;
}
.btn2 {
  position: absolute;
  text-decoration: none;
  margin-top: -70px;
  z-index: -1;
  filter: blur(30px);
  opacity: 0.8;
}
a:hover {
  text-decoration: none;
}
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button1 {
  display: inline-block;
  background: linear-gradient(45deg, #00b5f5, #002a8f);
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.button1::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 35px;
  color: #fff;
}
.button1:hover {
  cursor: pointer;
  background-color: #333;
}
.button1:active {
  background-color: #555;
}
.button1.show {
  opacity: 1;
  visibility: visible;
}

.button-3 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-4 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
